/******************************************************** THE START OF FILE *******************************************/
/******************************************************** PAGE TEMPLATE ***********************************************/

        @import url(http://fonts.googleapis.com/css?family=Open+Sans);
	@import url(http://fonts.googleapis.com/css?family=Open+Sans);
	
	@font-face{
		font-family: myFirstFont;
		src: url("Bazar.ttf");
	}
        
        body{
		font-size: 14px;
		line-height: 1.5em;
		font-family: 'Open Sans', sans-serif;
		color: #1d1d1d;
		background-color: white;		
	}
        
        #container {
		position: relative;
		width: 750px;
		margin: 20px auto 30px auto;
		padding: 10px;
		height: auto;
        }
	
	#headSec{
		margin-bottom: 20px;
		padding: 10px;
		height: 140px;
		background: black;
		-moz-box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px black;
		box-shadow: 0 0 25px white;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.6);
		border: 1px solid rgba(0,0,0,0.1);
	}
	
	.mainBody{
		height: auto;
		padding: 30px;
		background: black;
		-moz-box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px black;
		box-shadow: 0 0 25px black;
		border-radius: 5px;
		background-color: rgba(247, 236, 215, 0.7);
		border: 1px solid rgba(255,255,255,0.5);
	}
	
	#retro p{
		color: #f34b4b;
		text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
		font: 45px myFirstFont;
		letter-spacing: 7px;
		font-weight: 600;
		margin: auto;
		text-align: center;
	}
	
	.firstLetter{
		font-size: 65px;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin: 5px auto auto 20px;
		color: #0f0f0f;
		font-family: Droid Serif, Arial, serif;
	}
	
	#toTop2 {
		z-index: 100;
		height:60px;
		border-radius: 10px;
		bottom:40px;
		left:40px;
		position:fixed;
		cursor:pointer;
		display:none;
		border: 3px solid rgba(255,255,255, 0.9);
        }
	
/******************************************************** PAGE TEMPLATE END **********************************************/
/******************************************************** SEARCH.PHP ***************************************************/
	
	.search-result {
		margin: 10px;
		border: 1px solid rgba(255, 255, 255, 0.7);
		background-color: rgba(255, 255, 255, 1);
	}
	.search-result a {
		padding: 10px 0px;
		display: block;
		height: 100%;
		text-decoration: none;
	}

/******************************************************** SEARCH.PHP END ***************************************************/
/******************************************************** MUSICIAN.PHP ***************************************************/


	
    table{
		border-collapse:collapse;
		/*border-top:1px 1px 1px 1px;*/
		width:500px;
		background-color: rgba(255,255,255,0.7);
		padding:0px 15px;
    }

	
	table th{
		font-size: 19px;
		text-align: left;
		border-left:none;
		border-right:none;
		border-bottom:1px solid black;

		border-top:1px solid black;
	}
	
	a{
		color: #1196ee;
		display: block; 
		width: 100%; 
		height: 100%;
	}

	.targettablerow:hover{

		border-collapse:collapse;
		background-color: rgba(0,0,0,0.2);
	}

	table tr a {
    display:block;
    height:100%;
    width:100%;
}

a { display: block; width: 100%; height: 100%; }
	
/******************************************************** MUSICIAN.PHP END ***************************************************/	
/******************************************************** MENU ***************************************************************/

	#menu-wrapper {
                width: 795px;
                margin-bottom: 0px;
		margin-left: -20px;
                padding: 0px;
                border-radius: 8px;
                color: #cccccc;
		-moz-box-shadow: 0 0 10px black;
		-webkit-box-shadow: 0 0 10px black;
		box-shadow: 0 0 10px black;
		clear: both;
		margin-top: 15px;
		position: relative;
		
                height: 40px;
                font-family: Arial;
                text-shadow: 1px 1px 1px black;
                border-top: 1px solid rgba(0,0,0,0.3);
                background: rgba(0,0,0,0.6);
                box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
        }
	
	#menu div {
                padding: 0px 20px;
        }
	
	#menu .current_page_item a {
                text-shadow: 2px 2px 2px black;
		background: rgba(0,0,0,0.1);
                color: #ffffff;
		
        }
	
	#menu {
                margin: 0;
                padding: 0px 20px;
                list-style: none;
                line-height: 40px;
                letter-spacing: -1px;
                text-decoration: none;               
                text-shadow: 1px 1px 1px #FFFFFF;
                font-family: 'Arial', sans-serif;
                font-size: 16px;
                font-weight: normal;
                color: #000000;
        }
	
	#menu a {
                display: block;
                height: 39px;
                margin: 0px;
                color: white;
                text-decoration: none;
        }
	
	#menu a:hover {
                background: rgba(0,0,0,0.1);
                color: #ffffff;
                text-shadow: 2px 2px 2px black;
		text-decoration: none;
		-moz-box-shadow:     inset 0 0 5px #000000;
		-webkit-box-shadow:  inset 0 0 5px #000000;
		box-shadow:          inset 0 0 5px #000000;
        }
	
	#menu .current_page_item {
                text-shadow: 2px 2px 2px black;
                background: rgba(0,0,0,0.1);
                color: #ffffff;
		-moz-box-shadow:     inset 0 0 5px #000000;
		-webkit-box-shadow:  inset 0 0 5px #000000;
		box-shadow:          inset 0 0 5px #000000;
        }
	
	#menu li {
		width: 100px;
		text-shadow: 1px 1px 1px black;
		list-style: none;
                font-size: 15px;
                border-right: 1px solid rgba(0,0,0,0.4);
                background: rgba(0,0,0,0.1);
        }
	
	#menu ul {
		list-style: none;
	}
	
/******************************************************** MENU END ***************************************************************/
/******************************************************** THE END OF FILE ********************************************************/